<body>
  <div class="container pt-1">
    <div ng-controller="mainController as mainCtrl">
      <form (ngSubmit)="CreateArticle()" [formGroup]="articleForm" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="title" class="form-control-label col-md-4 col-sm-12">
            Title
          </label>
          <div class="col-md-8 col-sm-12">
            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Article title" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="form-control-label col-md-4 col-sm-12">
            Description
          </label>
          <div class="col-md-8 col-sm-12">
            <input type="text" class="form-control" id="descrption" formControlName="description" placeholder="Article Description" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="body" class="fornm-control-label col-md-4 col-sm-12">
            Body
          </label>
          <div class="col-md-8 col-sm-12">
            <textarea class="form-control" rows="3" id="body" name="description" formControlName="body" placeholder="Article Content" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="form-control-label col-md-4 col-sm-12">
            Tags
          </label>
          <div class="col-md-8 col-sm-12">
            <input type="text" class="form-control" id="tags" formControlName="tags" placeholder="Enter Article Tag" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="submit" class="btn btn-success" value="Post Article">
          </div>
        </div>
      </form>
      </div>
    </div>
</body>
