<div id="login">
  <form class="LoginForm" method="post" [formGroup]="loginForm" (ngSubmit)="UserLogin()">
    <div class="left">
      <label for="email">Email:<br>
        <input type="email" id="email" formControlName="email" name="loginForm.email" placeholder="Enter a Valid Email Address">
      </label>
      <label for="password">password:<br>
        <input type="password" id="password" formControlName="password" name="loginForm.password" placeholder="password should not be less that 8 characters">
      </label>
      <button type="submit">Login</button>
    </div>
    <div class="right">
      <h3>Don't have an account Kindly <a routerLink="/signup">Register</a>!!! </h3>
    </div>
    <div class="or">OR</div>
  </form>
</div>
