<header>
  <mat-sidenav-container>
    <mat-sidenav sidenav role="navigation">
    </mat-sidenav>
  </mat-sidenav-container>

  <div class="text">
    <h1 id="title">fun-Blog</h1>
  </div>
  <mat-toolbar>
    <span><a  routerLink="/login">Your Feeds</a></span>
    <span ><a  routerLink="/index">Global Feeds</a></span>
  </mat-toolbar>
</header>

<body>
  <app-article-list
    *ngFor="let article of articles| paginate: { itemsPerPage: 7, currentPage: p}"
    [article]="article" (deleteArticle)="deletePost($event)"
    (addFavoritePost)="addFavoriteArticle($event)">
    <pagination-controls (pageChange)="p = $event"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next" ></pagination-controls>
    </app-article-list>
</body>
