<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">funBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto" *ngIf="!this.authService.isLoggined">
      <li class="nav-item active">
         <a  routerLink="/index">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a  routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a  routerLink="/signup">Sign up</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="this.authService.isLoggined">
      <li class="nav-item active">
         <a  routerLink="/index">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a  routerLink="/my-post" >My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/editor"> New Article</a>
      </li>
      <span>
      <button mat-button [matMenuTriggerFor]="beforeMenu">setting</button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item><a type="button" routerLink="/change-password">Change Password</a></button>
          <button mat-menu-item ><a type="button" routerLink="/add-profile">Edit Profile</a></button>
          <button mat-menu-item><button (click)="logout()" *ngIf="this.authService.isLoggined" type="button" class="btn btn-danger">Logout</button></button>
        </mat-menu>
      </span>
    </ul>
  </div>
</nav>
<!--new-->
