li {
    padding-right: 1rem;
    text-decoration: white;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

#title {
    color: white;
    text-align: center;
    font-size: 64px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    ;
}

a:hover,
a:active {
    color: lightgray;
}

mat-toolbar {
    border-radius: 3px;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}