<div id="signup">
  <form class="registrationForm" [formGroup]="signupForm" method="post" (ngSubmit)="userRegistration()">
    <div class="left">
      <label for="username">username:<br>
        <input type="text" id="username" formControlName="username" name="signupForm.username" placeholder="Pick a Unique Username">
      </label>
      <label for="email">Email:<br>
        <input type="email" id="email" formControlName="email" name="signupForm.email" placeholder="Enter a Valid Email Address">
      </label>
      <label for="password">password:<br>
        <input type="password" id="password" formControlName="password" name="signupForm.password" placeholder="password should not be less that 8 characters">
      </label>
      <button type="submit">Sign Up</button>
    </div>
    <div class="right">
      <h3>Already have an account Kindly <a routerLink="/login">Login</a>!!! </h3>
    </div>
    <div class="or">OR</div>
  </form>
</div>
