<!-- <div class="edit-form">
  <form (ngSubmit)="updateArticle(editArticleForm.value)" [formGroup]="editArticleForm" novalidate >
    <div>
      <mat-form-field appearance="legacy">
        <mat-label> Tile:</mat-label><br>
        <input matInput  formControlName="title" placeholder="Article Title"><br>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label> Description:</mat-label><br>
        <input matInput type="text-area" formControlName="description" placeholder="Article Description"><br>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label> Body:</mat-label><br>
        <input matInput formControlName="body" placeholder="Article Description"><br>
      </mat-form-field>
    </div>
    <button type="submit" [disabled]="!editArticleForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>

  </form>
</div>
-->

<body>
  <div class="container pt-1">
    <div ng-controller="mainController as mainCtrl">
      <form (ngSubmit)="updateArticle(editArticleForm.value)" [formGroup]="editArticleForm" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="title" class="form-control-label col-md-4 col-sm-12">
            Title
          </label>
          <div class="col-md-8 col-sm-12">
            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Article title" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="form-control-label col-md-4 col-sm-12">
            Description
          </label>
          <div class="col-md-8 col-sm-12">
            <input type="text" class="form-control" id="descrption" formControlName="description" placeholder="Article Description" required/>
          </div>
        </div>
        <div class="form-group">
          <label for="body" class="fornm-control-label col-md-4 col-sm-12">
            Body
          </label>
          <div class="col-md-8 col-sm-12">
            <textarea class="form-control" rows="3" id="body" name="description" formControlName="body" placeholder="Article Content" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
                <button type="submit" [disabled]="!editArticleForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>

          </div>
        </div>
      </form>
      </div>
    </div>
</body>
