<mat-sidenav-container>
  <mat-sidenav sidenav role="navigation">
  </mat-sidenav>
  <mat-sidenav-content>
  
    <app-header ></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
