<mat-toolbar color="primary" class="navbar">
  <div >
    <span *ngIf="!this.authService.isLoggined" ><a  routerLink="/my-articles">My Feed</a></span>
    <span class="nav-item">
      <router-outlet>Global Feed</router-outlet>

    </span>
  </div>
</mat-toolbar>

