<div  class="article-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-9 post-list">
        <p>
          <a class="md-accent" routerLink="/article/{{article.slug}}">{{ article.title }}</a>
          <i>by</i> {{article.author.username}}
          {{article.tagList.tag}}
          <span class="favorite"><a (click)="favoriteArticle(article)" routerLink=""><mat-icon>favorite</mat-icon></a></span>
          <!-- <span class="edit glyphicon" *ngIf="this.authService.isLoggined && this.currentUserUsername === article.author.username"><a routerLink="/edit-article/{{article.slug}}"><mat-icon>create</mat-icon></a></span>
          <span ><a routerLink="" (click)="deletePost(article)" *ngIf="this.authService.isLoggined && this.currentUserUsername === article.author.username"><mat-icon>delete</mat-icon></a></span>
          -->
        </p><hr>
      </div>
      <div class="col-sm-2 tagList">
        <ul *ngFor="let tag of tags">
          <button>{{tag}}</button>     
        </ul>
        
      </div>
    </div>
  </div>
</div>
