<div class="form-container">
  <form (ngSubmit)="createProfile()" [formGroup]="profileForm">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label> Username:</mat-label><br>
        <input matInput  formControlName="username" placeholder="Pick a Unique Username"><br>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label> Bio:</mat-label><br>
        <input matInput type="text-area" formControlName="bio" placeholder="Kindly give a brief Bio about yourself"><br>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label> image:</mat-label><br>
        <input matInput formControlName="image" placeholder="enter a url to your image"><br>
      </mat-form-field>
      <br>
    </div>
    <input type="submit" value="Create Profile">
  </form>
</div>
