<div class="container">
  <div class="row">
    <div class="article-detail" >
      <span class="title">
          <h1>{{article.title}}</h1>
          <hr>
      </span>
    </div>
    <div class="content">
    <p>{{article.description}}</p><br>

    <p> {{article.body}} </p>
    </div>
  </div>
</div>
