.mat-tab-group {
    margin-bottom: 48px;
}

a {
    text-decoration: none;
    color: black;
}

#title {
    color: white;
    text-align: center;
    font-size: 64px;
    line-height: 200px;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    ;
}

span {
    padding-right: 1rem;
    text-decoration: black;
}

a:hover,
a:active {
    color: lightgray;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar {
    border-radius: 3px;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}

.header {
    color: peru;
}

.text {
    background-color: #f6c5df;
    height: 200px;
    width: auto;
}