<header>
  <mat-sidenav-container>
    <mat-sidenav sidenav role="navigation">
    </mat-sidenav>
  </mat-sidenav-container>

  <div class="text">
    <h1 id="title">fun-Blog</h1>
  </div>
</header>


<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 post-list" >
        <ul *ngFor="let article of articles" >
          <li *ngIf="this.authService.isLoggined && this.currentUserUsername === article.author.username">
            <a class="md-accent" routerLink="/article/{{article.slug}}">{{ article.title }}</a>
            <span class="edit glyphicon" *ngIf="this.authService.isLoggined && this.currentUserUsername === article.author.username">
              <a routerLink="/edit-article/{{article.slug}}"><mat-icon>create</mat-icon></a>
            </span>
            <span *ngIf="this.authService.isLoggined && this.currentUserUsername === article.author.username">
              <a routerLink="" (click)="deletePost(article)">
                <mat-icon>delete</mat-icon>
              </a>
            </span>
            <hr>
          </li>

        </ul>
      </div>
    </div>
  </div>
</body>



