<mat-nav-list>
  <div routerLinkActive="active"  *ngIf="this.authService.isLoggined">
    <a mat-list-item routerLink="/index" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/post-article" (click)="onSidenavClose()">
      <mat-icon>New Article</mat-icon> <span class="nav-caption">New Article</span>
    </a>
    <a mat-list-item routerLink="/change-password" (click)="onSidenavClose()">
      <mat-icon>change Password</mat-icon> <span class="nav-caption">Change Password</span>
    </a>
    <a mat-list-item routerLink="/logout" (click)="onSidenavClose()">
      <mat-icon>Logout</mat-icon> <span class="nav-caption">Logout</span>
    </a>
  </div>
  <div class="nav navbar-nav" routerLinkActive="active"  *ngIf="!this.authService.isLoggined">
    <a mat-list-item routerLink="/index" (click)="onSidenavClose()">
      <mat-icon>Home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="onSidenavClose()">
      <mat-icon>Sign Up</mat-icon> <span class="nav-caption">Sign Up</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onSidenavClose()">
      <mat-icon>Login</mat-icon> <span class="nav-caption">Login</span>
    </a>
  </div>
</mat-nav-list>
    